{% extends "base.html" %}

{% block content %}
<div class="textblock">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

	<p>Ищите рецепты десертов, просто отвечая на лёгкие вопросы, которые определят, что именно вам подойдёт.</p>
	<p>Мы поможем вам подобрать рецепты под ваше настроение.</p>
</div>
<br><br><br>
<p><a class="button" href="/questions">Начать</a></p>
{% endblock %}
